input[type=text], 
input[type=password] { 
    width: 100%; 
    padding: 8px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box;
    size: 20px; 

    border-radius: 50px;
} 



#b1{
     background-image: url("src\assets\image\bp.jpg"); 
   background-size: cover;
   height:400px;
   width:250px;
   position:relative;

  }

  #b2
  {
      align-content: right;
  }

  label{
      color:rgb(50, 109, 136);
      font-style:bold ;
  }