<div class="b1">
    
  
    <div class="topnav">
        
       
        <a routerLink="add-sub-category" class="nav-link "><i class="fa fa-list " aria-hidden="true">&nbsp;Add SubCategory </i></a>
        <a routerLink="viewcategories" ><i class="fa fa-mobile " aria-hidden="true">&nbsp; View category </i></a>
        <a routerLink="viewsubcategories" class="nav-link "><i class="fa fa-mobile " aria-hidden="true">&nbsp; View Subcategory </i></a>
        <a routerLink="add-category"><i class="fa fa-shopping-cart " aria-hidden="true">&nbsp;AddCategory</i></a>
        <a routerLink="/admin"><i class="fa fa-home " aria-hidden="true">&nbsp; Home</i></a>
        </div>

  <div class="row">
    <br>
     <br>
  </div>
  
  <div class="container-fluid">
        
  
  <div class="row">
    <div class="col-lg-1">
       
      </div>
    

  <div class="col-lg-8">
      
  <router-outlet></router-outlet>  
    </div>  
  
  
  </div>
  </div>
  </div>
